# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

.idea/

#DB
*.sqlite3

# virtual env
venv
crm/share
crm/bin
crm/lib
crm/local
crm/migrations

# modules and dependencies
node_modules
