# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

.idea/

# virtual env
venv
crm/share
crm/bin
crm/lib
crm/local

# modules and dependencies
node_modules
