{% extends 'base/base.html' %}

{% block content %}

     <div class="container" style="padding-top: 2cm;">
<h3>Contactos</h3>
{% if object_list %}
<table class="table table-bordered">
	<thead>
		<tr>
			<td style="display:none;">#</td>
			<td>Nombre</td>
			<td>Puesto</td>
			<td>Email</td>
			<td>Telefono</td>
			<td>Area</td>
		</tr>

	</thead>
	<tbody>

		{% for contacto in object_list %}
		<tr>
			<td>{{ contacto.id }}</td>
			<td>{{ contacto.nombre }}</td>
			<td>{{ contacto.puesto_interno }}</td>
			<td>{{ contacto.mail }}</td>
			<td>{{ contacto.celular }}</td>

			<td>
            <a class="btn btn-danger" href="{% url 'crm:eliminar_contacto' contacto.id %}">Eliminar</a>
			<a class="btn btn-primary" href="{% url 'crm:editar_contacto' contacto.id %}">Editar</a>
            </td>
		</tr>
		{% endfor %}


	</tbody>
</table>
{% else %}
		<h6>No hay registros de contactos</h6>
{% endif %}
     </div>
{% endblock%}


{% block extrajs %}
<style>
    table td:nth-child(1){ display:none;}
</style>
{% endblock %}
