{% if formUser.errors %}
        <p class="error" >Verifique que sus datos sean correctos y la contraseña cumpla con la seguridad.</p>
{% endif %}
<form id="form" class="topBefore" action="" method="post">{% csrf_token %}
    <label for="{{formUser.username.name}}">{{formUser.username.label}}: * </label>
    {{formUser.username}}

    <label for="{{formUser.password1.name}}">{{formUser.password1.label}} (Al menos 6 caracteres con una mayúscula y un digito): *</label>
    {{formUser.password1}}

    <label for="{{formUser.password2.name}}">{{formUser.password2.label}}: *</label>
    {{formUser.password2}}
</form>
