{% load staticfiles %}

<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

  <!-- Latest compiled and minified Jquery -->
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="{% static 'css/crm.css' %}">

  <title>{% block title %} CRM {% endblock %}</title>
</head>
<body class="login">
  <div class="container" style="padding-top: 2cm;">
   <h2>Crear User</h2>

  {% include "forms/user.html" %}


      <div class="col-md-10 col-md-offset-2">
        <div class="form-group">
            <button id="submit_button" type="submit" class="btn btn-primary">Crear</button>
        </div>
      </div>

    </div>
</body>
    <script type="text/javascript" src="{% static 'js/utils.js'%}"></script>
    <script type="text/javascript" src="{% static 'js/generic_form.js'%}"></script>
    <link rel="stylesheet" href="{% static 'css/minimal.css' %}">
</html>
