{% extends 'base/base.html' %}
{% load staticfiles %}

{% block content %}

    <div class="container" style="padding-top: 2cm;">
 <p>Desea arrancar el Lead de la empresa:  "{{ lead_detalle.empresa.nombre }}"?</p>

        {% include "forms/lead.html" %}

    <div class="col-md-8 col-md-offset-2">
        <div class="form-group">
            <button id="submit_button" type="submit" class="btn btn-primary">Arrancar</button>
            <button id="atras" type="button"  class="btn btn-primary">Regresar</button>
        </div>
    </div>


<br><br><br>
    <div  id="div-date"> <!-- Date input -->
        <label id="label_date"  for="date">Date</label>
        <input  id="date" name="date" placeholder="YYYY/MM/DD" type="text"/>
    </div>

    </div>
{% endblock %}
{% block extrajs %}
    <!-- Bootstrap Date-Picker Plugin -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
    <script type="text/javascript" src="{% static 'js/utils.js'%}"></script>
    <script type="text/javascript" src="{% static 'js/arrancar_lead.js'%}"></script>
    <link rel="stylesheet" href="{% static 'css/minimal.css' %}">
{% endblock %}
